# Python development
backend/__pycache__/
backend/venv/
backend/*.env
backend/temp_*

backend/static/heatmap_*

# JavaScript Node modules & Next builds
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env*.local

# System files
.DS_Store